body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;

  background-color: #8ed78f; /*временно для отображения текста*/
}

a {
  text-decoration: none; /*убирает подчеркивание ссылок*/
}

.header-top {
  background-color: #293449;
  font-size: 17px;
  line-height: 18px;
  text-align: left;
}

.header-top a {
  color: #ffffff;
}

.header-top a:hover,
.header-top a:focus {
  background-color: black;
} /*Закончилась шапка*/

.header-middle {
  background-color: #f3f7f9;
  text-align: left;
}

.header-middle h1 {
  color: #ee3643;
  font-size: 16px;
  line-height: 23px;
}

.header-middle p {
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;
}

.header-middle .adress {
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.header-middle .authorization {
  color: #000000;
  font-size: 21px;
  line-height: 21px;
}

.authorization a {
  color: #000000;
}

.site-navigation {
  color: #ffffff;
  background-color: #32425c;
  font-size: 17px;
  line-height: 17px;
  list-style: none;
}


.site-navigation a {
  color: #ffffff; /*цвет ссылок*/
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #242424;

/*Пользователь должен видеть, что навел на ссылку и кликнул по ней.
Для стилизации таких состояний существуют специальные псевдоклассы.
:hover для наведения, :focus для фокусировки.*/
} /*Закончилась навигация*/

.content-top {
  /*background-color: #ffffff;*/
  background-color: #215450;/*временно чтобы было видно надписи*/
}

.feature-items,
.popular-brands-list {
  list-style: none;
}

.feature-item p{
  font-size: 24px;
  line-height: 30px;
  text-align: left;
  font-weight: bold;
}

.feature-item a{
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}

.slide a {
  color: #ffffff;
}

.slide p:nth-child(1) {
  font-size: 36px;
  line-height: 36px;
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
}

.slide p:nth-child(2) {
  font-size: 18px;
  line-height: 24px;
  text-align: left;
}

.popular-brands-header,
.popular-items-header {
  background-color: #f9f5f0;
  font-size: 30px;
  line-height: 30px;
  text-align: left;
  font-weight: 400;
  text-transform: uppercase;
}

.popular-brands-header a,
.popular-items-header a {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
} /*цвет ссылки*/

.item-button-bookmark,
.catalog-item-title {
  color: #000000;
}

.item-button-buy,
.catalog-item-discount-price {
  color: #ffffff;
} /*цвет цены товара и покупки*/

.catalog-item-price {
  color: #aaaaaa;
}

.services {
  background-color: #f4f8fa;
}

.services-header,
.info {
  color: #000000;
}

.services-header h2,
.info h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

.services-header p,
.info p {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
}

.services-items {
  color: #ffffff;
  background-color: #32425c;
}

.slides h3 {
  color: #32425c;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

.slides p {
  color: #000000;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
}

.slides a,
.info a {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  font-weight: 400;
}

.info-about ul {
  font-size: 18px;
  line-height: 20px;
  text-align: left;
  font-weight: 400;
}

.modal-login {
  color: #000000;
  font-size: 18px;
  line-height: 18px;
  text-align: left;
  font-weight: 400;
}

.modal-login input {
  color: #a9a9a9;
  font-size: 14px;
}

.modal-login .button {
  color: #ffffff;
  font-size: 14;
  text-align: center;
}

.footer-top .container,
.footer-middle {
  background-color: #32425c;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
}

.footer-top .container ul {
  list-style: none;
}

.footer-top .container a {
  color: #ffffff;
  /*цвет ссылок*/
}

.footer-top .container a:hover,
.footer-top .container a:focus,
.footer-middle a:hover,
.footer-middle a:focus {
  background-color: #242424;
}

.footer-middle .contacts {
  color: #f3f7f9;
}

.footer-middle ul {
  list-style: none;
}

.footer-middle a {
  color: #ffd180;
}

.footer-bottom {
  color: #FFFFFF;
  background-color: #293449;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  font-weight: 400;
}

.footer-bottom ul {
  list-style: none;
}

.footer-bottom a {
  color: #ffd180;
}

.social-button {
  background-color: #293449;
}
